.map {
  height: 600px;
  width: auto;
}
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 400px;
}

.ol-popup .header {
  border-bottom: 1px solid #5c6263;
  border-radius: 5px 5px 0 0
}

.ol-popup .footer {
  border: none;
  border-top: 1px solid #5c6263;
  border-radius: 0 0 5px 5px
}

.ol-popup .messageType5-footer {
  border: none;
  border-top: 1px solid #5c6263;
  border-radius: 0 0 5px 5px;
  font-size: 11px;
}

.ol-popup .footer .footer-content {
  font-size: 11px;
}

.ol-popup .header .header-name{
  font-weight: bold;
  font-size:16px;
}

.ol-popup .header .header-img {
  border: none;
  border-top: 1px solid #5c6263;
  border-radius: 0 0 5px 5px;
  margin-bottom:2px;
  margin-top:2px;
}

.ol-popup .header .header-img .shipImg {
  margin-top: 5px;
}

.ol-popup .header .header-type {
  font-size: 11px;
}

.ol-popup .content{
    font-size: 11px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}
